body{
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(121,9,112,1) 35%, rgba(7,59,154,1) 51%, rgba(5,93,177,1) 62%, rgba(4,112,189,1) 68%, rgba(3,140,208,1) 77%, rgba(2,168,226,1) 86%, rgba(0,212,255,1) 100%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-family: "Sofia";
    text-align: center;
}
p{
    display: flex;
    justify-content: center;
    font-size: 20px;

}
.flexbox{
    display: flex;
    flex-direction: column;
    background: rgb(2,0,36);
    background: linear-gradient(208deg, rgba(2,0,36,1) 0%, rgba(108,40,5,1) 31%, rgba(200,20,20,0.8533788515406162) 40%, rgba(7,59,154,1) 51%, rgba(5,93,177,1) 62%, rgba(4,112,189,1) 68%, rgba(3,140,208,1) 77%, rgba(2,168,226,1) 86%, rgba(0,212,255,1) 100%);
}
.flexbox div.link{
    display: flex;
    font-size: 28px;
    color: brown;
    border: 2px solid rebeccapurple;
    justify-content: center;    
}
.funwithflex div{
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    
    
}
.funwithflex div.horiz{
    display: flex;
    flex-direction: column;
    height:600px   
}
.funwithflex div.horiz div.one{
    border: 2px solid red;
    justify-content: center;
    align-items: center;
    height: 60px; 
}

.funwithflex div.vertical{
    display: flex;
    padding: 20px;
    border: 2px solid blue;
    gap: 4px;
    
}
.funwithflex div.vertical div.one{
    display: flex;
    padding: 4px;
    align-items: center;
    
}





