*{
    box-sizing: border-box;
}

h1{
    font-size: 72px;   
    border: 0px;
    margin-left: 100px solid red;
    margin-bottom: 10px;
    padding: 40px;
    font-weight: 200;
    color: blue;
    border-color: red;
    
    

}
a{
    
    
    color: rgb(197, 21, 21); 
    font-weight: 600;
    font-size: 28px ;
    margin-left: 0 auto;
    border: 10px solid red
    border-color: rgb(255, 0, 0);
    max-width: 500px;
    
    
    
}

p{
    font-size: 28px;
    text-align: center;
    font-weight: bolder;
}





